#resolution_background{
    -fx-background-image: url("resolution.png");
    -fx-background-color: TRANSPARENT;
    -fx-background-size: cover;
}

#points_background{
    -fx-background-image: url("points.png");
    -fx-background-color: TRANSPARENT;
    -fx-background-size: cover;
}

#return{
    -fx-background-image: url("retour.png");
    -fx-background-color: TRANSPARENT;
    -fx-background-size: cover;
}